<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{option_a}} vs {{option_b}} - Modern Voting App</title>
    <base href="/index.html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="voting, poll, modern-ui, cloud-native">
    <meta name="author" content="Bunnyshell Demo">
    <link rel='stylesheet' href="{{ url_for('static',filename='stylesheets/style.css') }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  </head>
  <body>
    <div id="content-container">
      <div id="content-container-center">
        <h3>Cast Your Vote</h3>
        <form id="choice" name='form' method="POST" action="/">
          <button id="a" type="submit" name="vote" class="a" value="a">
            <span>{{option_a}}</span>
          </button>
          <button id="b" type="submit" name="vote" class="b" value="b">
            <span>{{option_b}}</span>
          </button>
        </form>
        <div id="tip">
          <i class="fa-regular fa-lightbulb"></i> You can change your vote anytime
        </div>
        <div id="hostname">
          <i class="fa-solid fa-server"></i> {{hostname}}
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

    {% if vote %}
    <script>
      var vote = "{{vote}}";

      if(vote == "a"){
        $(".a").prop('disabled', true);
        $(".a").html('<span>{{option_a}} <i class="fa fa-check-circle"></i></span>');
        $(".b").css('opacity','0.5');
      }
      if(vote == "b"){
        $(".b").prop('disabled', true);
        $(".b").html('<span>{{option_b}} <i class="fa fa-check-circle"></i></span>');
        $(".a").css('opacity','0.5');
      }
    </script>
    {% endif %}
  </body>
</html>
